body {
  background-color: slategray;
  font-size: 2em;
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#copied {
  visibility: hidden;
}

#input-field,
#input-field:focus {
  width: 40vw;
  text-align: center;
  font-size: 1.2em;
  border-radius: 5px;
  border: 2px solid slategray;
}

#input-field:hover,
#input-field:focus {
  outline: none;
  border: 2px solid tomato;
}

#copy-button,
#copy-button img {
  max-width: 100px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-bottom: 5px;
}

@media screen and (max-width: 600px) {
  #input-field, #input-field:focus {
    width: 90%;
    font-size: 0.7em;
  }
}